.widthWrapper{
    width: auto;
    height: auto;
}
.center-collumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article{
    width: 700px;
    margin-top: 10px;
    background-color: aquamarine;
}
.headingFirstSection{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
#Company-header{
    width: max-content;
}
h2:hover{
    cursor: pointer;
}