.widthWrapper{
    width: auto;
    height: auto;
}
.center-collum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
article{
    width: 700px;
    margin-top: 10px;
    background-color: aquamarine;
}
.headingFirstSection{
    display: flex;
    justify-content: center;
}